<!--
  Generated template for the QueuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   <ion-navbar>
      <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>My Queue</ion-title>
   </ion-navbar>
</ion-header>



<ion-content padding >
   <div [ngClass]="profileCard">
      <div class="p_initials">{{this.initials}}</div>

      <div class="distance">{{this.distance}}</div>
      <div class="relationship">{{this.relationship}}</div>
      <div [ngClass]="verified"><ion-icon name="ribbon"></ion-icon> Verified</div>

      <div [ngClass]="showimages">

         <ion-slides pager class="profile_gallery">

            <ion-slide *ngFor="let image of profileGallery">
               <img src="{{image}}" class="profile_image">
            </ion-slide>

         </ion-slides>
      </div>

      <button ion-button [disabled]="isDisabled" (click)="openModal(this.partner1, 'partner1')" class="her-deats">About {{this.partner1}}</button>
      <button ion-button [disabled]="isDisabled" (click)="openModal(this.partner2, 'partner2')" class="his-deats">About {{this.partner2}}</button>

      <div style="clear:both"></div>

      <div class="messaging"><ion-card><ion-card-content>{{thisMessage}}</ion-card-content></ion-card></div>


      <div [ngClass]="showui">
         <button ion-button outline icon-only [disabled]="isDisabled" class="thumbs-up" (click) = "thumbsup()">
            <ion-icon name="thumbs-up"></ion-icon>
         </button>

         <button ion-button outline icon-only [disabled]="isDisabled" class="thumbs-down" (click) = "thumbsdown()">
            <ion-icon name="thumbs-down"></ion-icon>
         </button>
      </div>

      <button [disabled]="isDisabled" ion-button full (click) = "next()">Next Connection</button>
   </div>
   <div [ngClass]="matches">
      You currently have no tasks in your queue.
   </div>
</ion-content>


<script id="image-modal.html" type="text/ng-template">
   <div class="modal image-modal transparent" ng-click="closeModal()">
      <ion-pane class="transparent">
         <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
      </ion-pane>
   </div>
</script>